Assets/Firebase/Editor/generate_xml_from_google_services_json.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/11.8.0/firebase-app-unity-11.8.0.srcaar filter=lfs diff=lfs merge=lfs -text
